<h2> New Recipe </h2>

<form action="/create_recipe">
 <input type="text" name="name" placeholder="name" >
 <input type="text" name= "description"  placeholder="description" >
 <input type="text" name= "img"   placeholder="image" >
 <input type="text" name= "ingredients"   placeholder="ingredients" >
 <input type="text" name= "instructions"   placeholder="instructions">
  <input type="submit">
  
</form>